.card__delete-btn {
    background-image: url(../../../images/trash.svg);
    width: 18px;
    height: 19.3px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    top: 18px;
    right: 15px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}