.popup{
     position: fixed;
     display: flex;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     color: black;
     background-color: rgba(0, 0, 0, .5);
     visibility: hidden;
     opacity: 0;
     transition: all 0.3s linear 0s;
}