.header {
     display: flex;
     justify-content: space-between;
     width: calc(100% - 48px*2);
     max-width: 1184px;
     margin: auto;
     padding: 28px 0 48px 0;
}
 @media screen and (max-width: 767px) {
     .header {
         width: calc(100% - 16px*2);
         padding-top: 16px;
    }
}
 @media screen and (max-width: 1023px) {
     .header {
         width: calc(100% - 24px*2);
    }
}
 @media screen and (min-width: 1280px) {
     .header {
         padding-bottom: 56px;
    }
}
 